<section class="h-full lg:pt-36">
    <div class="flex flex-col border border-black  rounded-lg lg:w-[500px] lg:mx-auto">
        <p class="self-center font-bold text-3xl mt-3">Log-in</p>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full p-10">
            
            <div class="flex flex-col mb-10">
                <label for="user-name">Username</label>
                <input id="user-name" type="text" class="border border-black rounded-lg px-2" formControlName="username" />
            </div>
            
    
            <div class="flex flex-col mb-10">
                <label for="password">Password</label>
                <input id="password" type="password" class="border border-black rounded-lg px-2" formControlName="password"/>
            </div>

            <button class="w-full bg-gradient-to-r from-white via-pink-500 to-red-500 rounded-xl">Log-in</button>
            
        </form>
    </div>
    
</section>